* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header .headerContainer {
    font-size: 19px;
    max-width: 900px;
    margin:40px auto;
    color: #6A7D8B;
}

header a, header a:visited {
    color: #313a3f;
    text-decoration: none;
}

header a:hover {
    opacity: 0.8;
}

.container {
    max-width: 900px;
    display:flex;
    margin:auto;
}

.leftSide, .rightSide {
    flex:1 ;
}

.container .leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3A4B5C;
}

.container .leftSide p {
    font-size:16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.container .leftSide .leftInputs {
    width: 100%;
}

.container .leftSide button {
    margin-top: 40px;
}

.leftSide {
    margin-right:40px;
}

.rightSide {
    margin-left:40px;
}